.redHeader {
  font-weight: bold;
  font-size: 18;
  color: red;
  font-family: "Aller", sans-serif;
  margin-bottom:3% ;
}
.career {
  font-size: 18;
  font-family: "Aller", sans-serif;
}
.column-container{
  display: flex; flex-direction: column
}
.text-font{
  font-family: "Aller", sans-serif;
}

.redLabel {
  font-weight: bold;
  color: red;
  font-family: "Aller", sans-serif;
  
}
.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-modal1 {
  position: fixed;
  top: 35%;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.loading-spinner {
  border: 16px solid #f3f3f3; /* Color de fondo del spinner */
  border-top: 16px solid #f60000; /* Color del spinner */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.nombre {
  font-size: 1.8rem;
  max-width: 100%;
  white-space: pre-wrap; /* Evita el salto de línea */
  overflow: hidden;
  text-overflow: ellipsis; /* Agrega puntos suspensivos al final */
  font-family: "Aller", sans-serif;
  margin-bottom:3% ;
  color: red;
  font-weight: bold;
}
.titulo {
  font-size: 1.5rem;
  max-width: 100%;
  white-space: pre-wrap; /* Evita el salto de línea */
  overflow: hidden;
  text-overflow: ellipsis; /* Agrega puntos suspensivos al final */
  font-family: "Aller", sans-serif;
  margin-bottom:3% ;

}

@media (max-width: 767px) {
  .nombre {
    font-size: 1rem; /* Tamaño de fuente para pantallas pequeñas */
  };
  
}


@media (max-width: 768px) {
  .titulo {
    font-size: 1rem; /* Tamaño de fuente para pantallas pequeñas */
  }
}